body{
    background-color: rgba(247 227 227) !important
}

main{ 
    text-align: center;
    padding-top: 15%;
    padding-left: 11% !important;

}

#butao{
    text-align: center !important; 
    padding-left: 47% !important;
    margin: 0%;
}

